.review-page {
    margin: auto;
    width: 80%;
}

/* -------------------------------------------------------------------------- */

.review-page nav {
    margin: 40px 0;
}

.review-page nav ul {
    display: flex;
    justify-content: space-between;
}

.review-page nav ul li a {
    background: white;
    border-radius: 4px;
    color: black;
    padding: 10px 20px;
}

.review-page nav ul li a .fa {
    margin-right: 8px;
}

.review-page nav ul li:last-child a .fa {
    margin-right: 0;
    margin-left: 8px;
}

/* -------------------------------------------------------------------------- */

.review-page .review-content {
    margin: 30px 0;
}

.review-page .review-content p {
    color: #272A2F;
    font-size: 1.1em;
    padding: 10px 10px;
}

.review-page .review-content .original {
    background: #f1f8ff;
    font-style: italic;
}
.review-page .review-content .active {
    background: #ffeef0;
}
.review-page .review-content .suggestion {
    background: #e6ffed;
    font-weight: bold;
}

/* -------------------------------------------------------------------------- */

.review-page .review-metadata {
    margin: 30px 0;
}

.review-page .review-metadata > header {
    float: right;
    text-align: right;
}

/* -------------------------------------------------------------------------- */

.review-page .review-actions {
    text-align: center;
}

.review-page .review-actions button {
    color: #272A2F;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
    margin: 0 8px;
    padding: 15px 25px;
    text-transform: uppercase;
}

.review-page .review-actions button.approve {
    background: #7BC876;
}

.review-page .review-actions button.reject {
    background: #f64f63;
}

.review-page .review-actions button.comment {
    background: #4fc4f6;
}

.review-page .review-actions button:hover {
    color: #ebebeb;
}

/* -------------------------------------------------------------------------- */

.review-page .review-panels {
    min-height: 400px;
}

.review-page .review-panels .not-yet {
    font-size: 1.1em;
    line-height: 400px;
    text-align: center;
}

.review-page .review-panels .react-tabs {
    /* height: calc(100% - 37px); */
}

.review-page .review-panels .react-tabs__tab-panel > section {
    padding: 0;
}

/* -------------------------------------------------------------------------- */

.review-page .review-comments ol {
    list-style: none;
    margin: 0;
}

.review-page .review-comments ol li {
    padding: 20px 0;
}

.review-page .review-comments ol li > * {
    padding-left: 44px;
}

.review-page .review-comments ol li img {
    float: left;
    padding: 0;
}

.review-page .review-comments ol li header {
    text-align: left;
    margin-bottom: 7px;
}

.review-page .review-comments ol li time {
    color: #cecece;
    margin-left: 10px;
}

.review-page .review-comments textarea {
    box-sizing: border-box;
    line-height: 22px;
    height: 200px;
    margin-bottom: 40px;
    overflow: auto;
    padding: 10px;
    resize: none;
    width: 100%;
}
